[paths]
source =
   src/genesiscreator
   */site-packages/genesiscreator

[run]
branch = true
source =
    genesiscreator
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
